.container {
    width: 25rem;
}

ul {
    list-style: none;
}

ul > li:not(:last-child) {
    margin-block: 1px;
    border-bottom: 1px solid black;
}

ul > li:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
