.input {
    width: 100%;
    line-height: 1.5rem;
    padding-inline: 0.4rem;
}

.input::placeholder{
    font-style: italic;
}

.label {
    font-size: large;
    font-weight: bolder;
    color: black;
}
